#master {

    min-height: 100%;
    width: 1170px;

    margin-left: auto;
    margin-right: auto;

}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    height: 60px;
    width: 100%;
}

.app {
    width: 100%;;
    height: 100%;
}

