.footer {
    position: fixed;
    bottom: 0;
    margin-left: auto !important;
    margin-right: auto !important;

    /* Set the fixed height of the footer here */
    height: 60px;
    width: 1170px !important;
    background-color: #e7e7e7;
}

.footer p {
    margin-left: auto;
    margin-right: auto;
}

#signOutButton{
    margin-top: auto;
    margin-bottom: auto;
}